body{
    background-color: black;
}
.topNav{
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    background-color: #5f6878;

}
.topNav>div{
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: white;
}
.topNav>button{
    width: fit-content;
    height: 100%;
    background-color: #134f63;
    color: white;
}
.topNav>button:hover{
    cursor: pointer;
    border: 2px solid white;
    background-color: #134f99;
}
.inputCover{
    width: 40%;
    height: auto;
    margin: 100px auto;
    background-color: #7e0175;
    box-shadow: -10px 10px 10px #a1439b;
    display: flex;
    flex-flow: column;
    gap: 30px;
    z-index: 2;
}
.inputCover>input{
    width: 90%;
    font-size: 22px;
    height: 40px;
    outline: none;
    border: 1px solid white;
    
    margin:10px auto;
}
.inputCover>:nth-child(1){
    margin-top: 30px;
}
.inputCover>button{
    background-color: #134f63;
    color: white;
    font-size: 22px;
    width: fit-content;
    margin: 30px auto;
}
.inputCover>button:hover{
    cursor: pointer;
    font-weight: 400;
    background-color: #134f99;
    font-size: 24px;
}